$whiteSmoke:#f1f1f2 ; // WhiteSmoke (body)
$jaune1:#FFDB5C; // couleur principale 
$jaune2:#FAC32D; // couleur plus foncée (bandeau) 
$bleu1:rgb(61, 94, 255);
$bleu:rgb(44, 83, 255);
$hover: rgb(27, 181, 252);


