/* Reset */

html, body, div, span, applet, object, iframes,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    outline: none;
}

/* End reset */

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
    /* font-family: 'Roboto', sans-serif;
    */

    font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #2a3121;
    /* background-image: radial-gradient(circle at top right , #90afc5, #336b87) !important; */
    height: 1vh;
    overflow: hidden; 
}

header {
    text-transform: uppercase;
    background-image: radial-gradient(circle at top right, #90afc5, #336b87) !important;
    padding: 8px 0 8px 16px;
    font-size: 1em;
 
}

#logo, nav, li {
    display: inline-block;
}

#logo {
    font-family: "Poppins";
    font-size: 1.2em;
    font-weight: 800;
    text-decoration: none;
    color: #2a3121;

}


nav {
    display: inline-block;
    line-height: 48px;
    vertical-align: top;
}

li {
    margin-left: 32px;
}
li a, .button {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 400;
    color: #333;
}

.button {
    text-transform: uppercase;
    float: right;

    line-height: 60px;
    height: 50px;
    text-decoration: none;
    padding: 0 16px;
}



h1 {
    
    text-align: center;
    line-height: 150px;
    letter-spacing: 4px;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    transition-duration: .3s;
}

#hamburger, #hamburger-content {
    display: inline;
}

#hamburger-button {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 30px;
    vertical-align: top;
    padding: 0;
    line-height: 47px;
    float: right;
    margin-right: 32px;
}

#hamburger-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

#hamburger-sidebar {
    display: none;
    position: fixed;
    width: 84%;
    z-index: 20;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(132, 132, 132);
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform .2s ease-out;
}
#hamburger-sidebar li {
    display: block;
}
#hamburger-sidebar-body {
    padding: 16px 8px;
}
#hamburger-sidebar-body li:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 16px;
    width: 24px;
    height: 24px;
}

#hamburger-sidebar-body .button {
    margin-top: 16px;
    text-align: center;
    float: none;
    display: block;
    height: auto;
    line-height: inherit;
    padding: 10px;
}

/*  index View */
#sousmenu{
    height: 100px;
    padding: 1%;
}
   

#sidebar{
    border-right: 1px solid black;
}






















@media screen and (max-width: 1024px) {
    h1 {
        font-size: 42px;
        line-height: 56px;
    }

    #hamburger-content {
        display: none;
    }

    #hamburger-button, #hamburger-sidebar,
    .hamburger-activated #hamburger-overlay {
        display: block;
    }

    .hamburger-activated #hamburger-sidebar {
        transform: translateX(0);
    }
} 

