.show-nav, .hide-nav {
	padding: 10px;
	background-color: #A1C159;
	border: 0;
	border-radius: 20px;
	color: #fff;
}

.response--site-menu {
	display: flex;
	height: 50px;
	justify-content: space-around;
	background: #FFDB5C;
}

.response--site-menu a {
	display: block;
	color: #fff;
}

.response--main-navigation {
	margin: 0;
}

.response--main-navigation a {
	display: block;
	text-decoration: none;
	padding: 10px;
}

.response--main-navigation ul {
	margin: 0;
	padding: 0;
}

.response--main-navigation li {
	list-style-type: none;
}

.response--site-menu {
	display: flex;
	justify-content: space-around;
	background: #FFDB5C;
}

/* Responsive! */

.show-nav, .hide-nav {
	margin: 10px;
}

.show-nav:before, .hide-nav:before {
	font-family: "FontAwesome";
}

.show-nav:before {
	content: "\f0c9";
}

.hide-nav:before {
	content: "\f00d";
}

.response--main-navigation.mobile-nav .response--site-menu {
	display: block;
	min-height: 82vh;
	width: 100%;
	overflow-y: auto;
	position: fixed;
	left: 0;
	right: 100%;
	transform: translateX(-100%);
	z-index: 1000;
	transition: all .25s;
}

.response--main-navigation.mobile-nav.expanded .response--site-menu {
	right: 0;
	transform: translateX(0);
}